@import './colors.css';
@import './tailwind.css';
@import './themes/default.css';

@keyframes fade-xin-from-top {
  from {
    transform: translateY(6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-in-from-bottom {
  from {
    transform: translateY(-6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-in-from-left {
  from {
    transform: translateX(6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-in-from-right {
  from {
    transform: translateX(-6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-out-to-top {
  to {
    transform: translateY(6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-out-to-bottom {
  to {
    transform: translateY(-6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-out-to-left {
  to {
    transform: translateX(6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-out-to-right {
  to {
    transform: translateX(-6px) scale(0.95);
    opacity: 0;
  }
}

.popper-content[data-state='open'],
.popper-content[data-state='delayed-open'] {
  &[data-side='top'] {
    animation: fade-in-from-top 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: bottom;
  }

  &[data-side='bottom'] {
    animation: fade-in-from-bottom 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: top;
  }

  &[data-side='left'] {
    animation: fade-in-from-left 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: right;
  }

  &[data-side='right'] {
    animation: fade-in-from-right 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: left;
  }
}

.popper-content[data-state='closed'],
.popper-content[data-state='delayed-closed'] {
  &[data-side='top'] {
    animation: fade-out-to-top 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: bottom;
  }

  &[data-side='bottom'] {
    animation: fade-out-to-bottom 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: top;
  }

  &[data-side='left'] {
    animation: fade-out-to-left 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: right;
  }

  &[data-side='right'] {
    animation: fade-out-to-right 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: left;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

* {
  font-family: var(--font-kreon);
}

.font-logo {
  font-family: var(--font-logo);
}

.container-width {
  max-width: var(--container-width);
}

@media (min-width: 640px) {
  .mx-break-out {
    margin-left: calc((-100vw) / 2 + 640px / 2);
    margin-right: calc((-100vw) / 2 + 640px / 2);
  }

  .ml-break-out {
    margin-left: calc((-100vw) / 2 + 640px / 2);
  }

  .mr-break-out {
    margin-right: calc((-100vw) / 2 + 640px / 2);
  }
}

@media (min-width: 768px) {
  .mx-break-out {
    margin-left: calc((-100vw) / 2 + 768px / 2);
    margin-right: calc((-100vw) / 2 + 768px / 2);
  }

  .ml-break-out {
    margin-left: calc((-100vw) / 2 + 768px / 2);
  }

  .mr-break-out {
    margin-right: calc((-100vw) / 2 + 768px / 2);
  }
}

@media (min-width: 1024px) {
  .mx-break-out {
    margin-left: calc((-100vw) / 2 + 1024px / 2);
    margin-right: calc((-100vw) / 2 + 1024px / 2);
  }

  .ml-break-out {
    margin-left: calc((-100vw) / 2 + 1024px / 2);
  }

  .mr-break-out {
    margin-right: calc((-100vw) / 2 + 1024px / 2);
  }
}

@media (min-width: 1280px) {
  .mx-break-out {
    margin-left: calc((-100vw) / 2 + 1280px / 2);
    margin-right: calc((-100vw) / 2 + 1280px / 2);
  }

  .ml-break-out {
    margin-left: calc((-100vw) / 2 + 1280px / 2);
  }

  .mr-break-out {
    margin-right: calc((-100vw) / 2 + 1280px / 2);
  }
}

@media (min-width: 1536px) {
  .mx-break-out {
    margin-left: calc((-100vw) / 2 + 1536px / 2);
    margin-right: calc((-100vw) / 2 + 1536px / 2);
  }

  .ml-break-out {
    margin-left: calc((-100vw) / 2 + 1536px / 2);
  }

  .mr-break-out {
    margin-right: calc((-100vw) / 2 + 1536px / 2);
  }
}

body {
  @apply bg-black;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
