.high-contrast.light {
  --brand-primary-25: #ffffff;
  --brand-primary-50: #f7efff;
  --brand-primary-100: #ead9ff;
  --brand-primary-200: #d1afff;
  --brand-primary-300: #a880ff;
  --brand-primary-400: #7f5cff;
  --brand-primary-500: #6432ff;
  --brand-primary-600: #4d28cc;
  --brand-primary-700: #391e99;
  --brand-primary-800: #2b1673;
  --brand-primary-900: #1f104d;
  --brand-primary-950: #140a33;

  --error-25: #ffffff;
  --error-50: #ffe8e6;
  --error-100: #ffc6c1;
  --error-200: #ff9187;
  --error-300: #ff5e55;
  --error-400: #ff372f;
  --error-500: #ff1208;
  --error-600: #cc0e06;
  --error-700: #990a04;
  --error-800: #730703;
  --error-900: #4d0502;
  --error-950: #330301;

  --warning-25: #ffffff;
  --warning-50: #fff6e6;
  --warning-100: #ffe8c0;
  --warning-200: #ffcf80;
  --warning-300: #ffb340;
  --warning-400: #ff9700;
  --warning-500: #e87d00;
  --warning-600: #c16400;
  --warning-700: #9a4b00;
  --warning-800: #733600;
  --warning-900: #4d2400;
  --warning-950: #331800;

  --success-25: #ffffff;
  --success-50: #e8fff1;
  --success-100: #bfffe0;
  --success-200: #7fffc4;
  --success-300: #3fffab;
  --success-400: #00ff93;
  --success-500: #00e67e;
  --success-600: #00b862;
  --success-700: #008b4b;
  --success-800: #005d35;
  --success-900: #003c25;
  --success-950: #002819;

  --gray-25: #ffffff;
  --gray-50: #f2f2f2;
  --gray-100: #d9d9d9;
  --gray-200: #b3b3b3;
  --gray-300: #808080;
  --gray-400: #4d4d4d;
  --gray-500: #333333;
  --gray-600: #262626;
  --gray-700: #1a1a1a;
  --gray-800: #0d0d0d;
  --gray-900: #000000;
  --gray-950: #000000;
}

.high-contrast.dark {
  --brand-primary-25: #f1efff;
  --brand-primary-50: #dad5ff;
  --brand-primary-100: #b7b0ff;
  --brand-primary-200: #9389ff;
  --brand-primary-300: #7a68f6;
  --brand-primary-400: #644fe3;
  --brand-primary-500: #4e38d1;
  --brand-primary-600: #3b28a6;
  --brand-primary-700: #2c1e7c;
  --brand-primary-800: #1d1352;
  --brand-primary-900: #120c3a;
  --brand-primary-950: #0a0723;

  --error-25: #ffedee;
  --error-50: #ffcdd1;
  --error-100: #ffa4a8;
  --error-200: #ff787f;
  --error-300: #ff4c55;
  --error-400: #e7353e;
  --error-500: #cc1f28;
  --error-600: #a8181f;
  --error-700: #801015;
  --error-800: #580c0f;
  --error-900: #3b0709;
  --error-950: #240404;

  --warning-25: #fff9e6;
  --warning-50: #ffe9bf;
  --warning-100: #ffd089;
  --warning-200: #ffb85b;
  --warning-300: #ffa02e;
  --warning-400: #e68410;
  --warning-500: #cc6900;
  --warning-600: #a85400;
  --warning-700: #804100;
  --warning-800: #592e00;
  --warning-900: #3b1f00;
  --warning-950: #261400;

  --success-25: #e8fcef;
  --success-50: #c4f7d7;
  --success-100: #8ff0b6;
  --success-200: #60e597;
  --success-300: #33db79;
  --success-400: #18c465;
  --success-500: #0fa250;
  --success-600: #0c7f3e;
  --success-700: #095e2d;
  --success-800: #063d1d;
  --success-900: #032a12;
  --success-950: #02180a;

  --gray-25: #ffffff;
  --gray-50: #f2f2f2;
  --gray-100: #f3f3f3;
  --gray-200: #f4f4f4;
  --gray-300: #f5f5f5;
  --gray-400: #f6f6f6;
  --gray-500: #f7f7f7;
  --gray-600: #3c3c3c;
  --gray-700: #292929;
  --gray-800: #1a1a1a;
  --gray-900: #111111;
  --gray-950: #000000;
}
